@import url('https://fonts.googleapis.com');


body {
    font-family: Roboto, sans-serif;
}


table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #c2c2c2;
    padding: 8px;
    text-align: left;
}

/*tr:nth-child(even) {
    background-color: #f2f2f2;
}*/

thead {
    background-color: #313131;
    color: #e4e4e4;
}